$Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
$Light-Grayish-Blue-CardBg: hsl(228, 50%, 96%);
$Card-BG-Hover: rgba(240, 242, 250, 0.8);

.overviewCard {
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  width: calc((100% / 4) - 40px);
  min-width: 190px;
  max-width: 320px;

  height: 125px;
  border-radius: 5px;

  background-color: $Light-Grayish-Blue-CardBg;

  padding: 20px 25px;

  cursor: pointer;
}

.overviewCard:hover {
  background-color: $Card-BG-Hover;
}

.infoType {
  p {
    color: $Dark-Grayish-Blue-Text;
    font-weight: 700;
    font-size: 14px;
  }

  display: flex;
  flex: row;
  justify-content: space-between;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 28px;
  }

  .changeRate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .overviewCard {
    width: 100%;
    max-width: unset;
  }
}
