//Css
$youtube: hsl(356, 98%, 37%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: hsl(329, 70%, 58%);
$Light-Grayish-Blue-CardBg: hsl(227, 47%, 96%);
$Card-BG-Hover: rgba(240, 242, 250, 0.6);

.card {
  background-color: $Light-Grayish-Blue-CardBg;

  height: 190px;
  width: calc((100% / 4) - 40px);
  min-width: 190px;
  max-width: 320px;

  display: grid;
  place-content: center;
  text-align: center;

  padding: 10px;

  border-radius: 5px;

  cursor: pointer;
}

.card:hover {
  background-color: $Card-BG-Hover;
}

.card.facebook {
  border-top: 5px solid $facebook;
}

.card.twitter {
  border-top: 5px solid $twitter;
}

.card.instagram {
  border-top: 5px solid $instagram;
}

.card.youtube {
  border-top: 5px solid $youtube;
}

.username {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 5px;
  margin-top: 5px;

  p {
    font-size: 10px;
    font-weight: 700;
  }
}
.followersCount {
  p:nth-of-type(2) {
    font-size: 10px;
    letter-spacing: 4px;

    margin-bottom: 40px;
  }
}

.totalCount {
  font-size: 40px;
  font-weight: 700;

  margin-top: 15px;
}

.change {
  font-weight: 700;
  font-size: 12px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 6px;
}

@media screen and (max-width: 650px) {
  .card {
    width: 100%;
    max-width: unset;
  }
}
