@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
$Very-Dark-Blue-BG: hsl(230, 17%, 14%);
$White-BG: hsl(0, 0%, 100%);

* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

body.dark-bg {
  background-color: $Very-Dark-Blue-BG;
}

body.light-bg {
  background-color: $White-BG;
}
.app {
  width: 87%;
  margin: auto;
}

.cardsWrapper {
  position: relative;
  top: -130px;
}
