$Dark-Desaturated-Blue-CardBg: hsl(228, 28%, 20%);
$Dark-CardBg-Hover: rgba(37, 42, 65, 0.7);

$Desaturated-Blue-Text: hsl(228, 34%, 66%);
$Very-Dark-Blue-TopBgPattern: hsl(232, 19%, 15%);

.app.dark {
  header {
    border-radius: 0 0 30px 30px;
    background-color: $Very-Dark-Blue-TopBgPattern;

    h1 {
      color: #fff;
    }

    p {
      color: $Desaturated-Blue-Text;
    }
  }

  .switcher {
    p {
      font-size: 14px;
      color: #fff;
    }
  }

  .card {
    background-color: $Dark-Desaturated-Blue-CardBg;

    .username {
      p {
        color: $Desaturated-Blue-Text;
      }
    }

    .followersCount {
      p {
        color: $Desaturated-Blue-Text;
      }
    }

    .totalCount {
      color: #fff !important;
    }
  }

  .card:hover {
    background-color: $Dark-CardBg-Hover;
  }

  .overviewCardsList h2 {
    color: #fff;
    margin-left: 3%;
  }

  .overviewCard {
    background-color: $Dark-Desaturated-Blue-CardBg;

    .count {
      p {
        color: #fff;
      }
    }
  }

  .card:hover,
  .overviewCard:hover {
    background-color: $Dark-CardBg-Hover;
  }
}
